{% extends 'introducation.html' %}

{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                    <h1>Welcome to Markytics...!</h1>
								<hr>
                                <p>According to a <span class="text-primary">2019</span> industry forecast by Markytics Research, the healthcare IT market is expected to grow at <span class="text-primary">13.8%</span> CAGR <span class="text-danger">(Compound Annual Growth Rate)</span> between <span class="text-primary">2019</span> and <span class="text-primary">2027</span>, to reach a value of <span class="text-success">$511 billion.</span>

However, as the report was published before the coronavirus outbreak, these numbers could potentially be even higher, with healthcare apps becoming more and more popular during the pandemic.
In the following article, we’re going to guide you through the top 13 types of healthcare software present on the market. We’ll showcase examples of popular medical software developed and used by institutions, as well as healthcare apps used by individuals concerned about their health and well-being.
</p>
                                <p>However, as the report was published before the coronavirus outbreak, these numbers could potentially be even higher, with healthcare apps becoming more and more popular during the pandemic.
In the following article, we’re going to guide you through the top 13 types of healthcare software present on the market. We’ll showcase examples of popular medical software developed and used by institutions, as well as healthcare apps used by individuals concerned about their health and well-being.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
{% endblock %}