{% extends 'introducation.html' %}

{% block content %}



            <div class="page-breadcrumb">

                <p class="text-success">Success:You are now logged in.</p>

                <div class="d-flex align-items-center">

                    <h1 style="color:black;">Hello RandomUser!</h1>
                </div>
                <br>
                <p>One can log in and report an incident and view saved incident.  </p>
                <p>Admin can view the forms. </p>




            </div>
                <div class="page-breadcrumb">


                <div class="d-flex align-items-center">

                </div>
                </div>
{% endblock %}
